{% extends 'backoffice.html.twig' %}

{% block body %}
<div class="container m-2 ">



<h2> Les prochaines réservations</h2>
    <table class="table table-striped w-50">
        <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Pack</th>
            <th scope="col">Cients</th>
            <th scope="col">Date</th>
        </tr>
        </thead>
        <tbody class="text-center">
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.id }}</td>
                <td>{{ reservation.pack.nom }}</td>
                <td>{{ reservation.user.nom }}</td>
                <td>{{ reservation.date | date('d-m-Y')}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="card w-50 ml-4 d-inline-flex">
        <div class="card-header font-weight-bold bg-info text-center">
            Meilleurs clients
        </div>

        <div class="card-body">
            {% for client in clients %}
            <p class="card-text"> {{ client.nom }}  {{ client.prenom }} : {{ client.resaEff }} réservation(s)</p>
            <p class="card-text">  </p>
            {% endfor %}
        </div>

    </div>

    <div class="card w-50 ml-4 d-inline-flex">
        <div class="card-header font-weight-bold bg-info text-center">
            Meilleurs packs
        </div>

        <div class="card-body">
            {% for pack in packs %}
                <p class="card-text"> {{ pack.nom }}  : {{ pack.nbResa }} réservation(s)</p>
                <p class="card-text">  </p>
            {% endfor %}
        </div>

    </div>


</div>


{% endblock %}



{% block title %}
Back-Office
{% endblock %}

