{% extends 'base.html.twig' %}

{% block title %}Hello Lo{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="col-md-6 bg-success p-4 rounded mx-auto text-center text-white mb-3">
            {{ message }}
        </div>
    {% endfor %}




<div class=" card text-center w-50 mx-auto m-3">

    <div class="card-img-top mt-3">
{#        <img src="{{ asset('images/imagesUpload/') }}{{ enfant.image1 }}" height="200" width="200" alt="{{ enfant.nom }}" >#}
    </div>
    <div class="card-body">
        <div><h4 class="card-title">{{ enfant.nom }}</h4></div>
        <div>  {{ enfant.prix}}</div>
        <div> {{ enfant.description1 }}</div>
    </div>

</div>

        </tbody>
    </table>





        <h2>Le pack le plus commandé</h2>
        <p> {{ pack }}  </p>

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>










{% endblock %}
