{% extends 'backoffice.html.twig' %}

{% block body %}

    <div class="container-fluid">
        <h1 class="text-center mt-2 mb-5 p-4 text-white" style="background-color: #4b1348">Modification Pack</h1>


        {% for message in app.flashes('success') %}
            <div class="col-md-6 bg-secondary p-4 rounded mx-auto text-center text-white mb-3">
                {{ message }}
            </div>
        {% endfor %}


        {{ form_start(formModifPack) }}

        {{ form_row(formModifPack.nom) }}
        {{ form_row(formModifPack.description1) }}
        {{ form_row(formModifPack.description2) }}
        {{ form_row(formModifPack.prix) }}
        {{ form_row(formModifPack.image1File) }}
       <img src=" {{ asset('images/imagesUpload/') }}{{ pack.image1}} " width="75" alt="">
        {{ form_row(formModifPack.image2File) }}
        {{ form_row(formModifPack.image3File) }}


        <button class="btn text-white my-3" style="background-color: #ffba08" type="submit">Modifier</button>



        {{ form_end(formModifPack) }}
    </div>
{% endblock %}

{% block title %}
    Lo | Modif_pack
{% endblock %}
