{% extends 'modeleConnexion.html.twig' %}

{% block body %}

    <div class="container mt-4">
        <h1 class="text-center p-4" style="background-color: #eddcf9">Réservation</h1>


        {% for message in app.flashes('success') %}
            <div class="col-md-6 bg-primary p-4 rounded mx-auto text-center text-white mb-3">
                {{ message }}
            </div>
        {% endfor %}

        {% for message in app.flashes('danger') %}
            <div class="col-md-6 bg-danger p-4 rounded mx-auto text-center text-white mb-3">
                {{ message }}
            </div>
        {% endfor %}

        {% for message in app.flashes('info') %}
            <div class="col-md-6 bg-info p-4 rounded mx-auto text-center text-white mb-3">
                {{ message }}
            </div>
        {% endfor %}

        <hr>
        <div class="container mt-4">

            <h2 class="mt-5">Votre réservation</h2>
            <div class="w-25 p-4">
                {{ form_start(formResa) }}

                {{ form_row(formResa.date) }}

                {{ form_row(formResa.pack) }}
            </div>
            {% if is_granted('ROLE_ADMIN') %}
                <button class="btn btn-danger m-2" type="submit">Modifier</button>
            {% endif %}


           

            {{ form_end(formResa) }}

        

        </div>
    </div>







{% endblock %}
