{% extends 'base.html.twig' %}




{% block body %}

    <h1 class="m-5 text-info">Mon profil</h1>
    <div class="card w-25 ml-4">
        <div class="card-header font-weight-bold bg-info text-center">
            Mes informations
        </div>
        <div class="card-body">
            <p class="card-text">Votre pseudo : {{ app.user.username}} </p>
            <p class="card-text">Votre nom : {{ app.user.nom}} </p>
            <p class="card-text">Votre prénom : {{ app.user.prenom}} </p>
            <p class="card-text">Votre date de naissance : {{ app.user.birthday | date('d/m/Y')}} </p>
            <p class="card-text">Votre email {{ app.user.email}} </p>
            <a href=" {{ path('modifprofil', {'id':app.user.id} )}} " class="btn btn-info mx-auto">Modifier</a>
        </div>

    </div>
    <h2>Historique de vos réservations</h2>
    <table class="table table-striped">
        <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Pack</th>
            <th scope="col">Prix</th>
            <th scope="col">Date</th>
            <th scope="col">Email</th>

        </tr>
        </thead>
        <tbody class="text-center">
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.id }}</td>
                <td>{{ reservation.pack.nom }}</td>
                <td>{{ reservation.pack.prix }}</td>
                <td>{{ reservation.date | date('d-m-Y') }}</td>


{#                <td><a href="{{ path('resa_client', {'id': user.id }) }}"><img src="{{ asset('images/loupe.png') }}" alt="voir"></a></td>#}

{#                <td><a href="{{ path('supp_user', {'id': user.id }) }}"><img src="{{ asset('images/delete.png') }}" alt="supprimer"></a></td>#}
            </tr>
        {% endfor %}
        </tbody>
    </table>








{% endblock %}
