{% extends 'base.html.twig' %}
{#il faut que l'utilisateur soit connecté#}

{% block body %}

Nous sommes le : {{ today }}

{#    {{ path('verif_dispo')}}#}
<h1 class="my-5">Vérifions la disponibilité de votre pack </h1>
<form action=" " method="get">

    <label class="my-3" for="pack">Quel pack avez-vous choisi ?</label>

    <select name="pack" class="form-control w-25" id="verif_pack">
        <option value=""></option>
        {% for pack in packs %}
            <option value="{{ pack.id }}">{{ pack.nom }}</option>
        {% endfor %}
    </select>

    <label class="my-3" for="date">Entre quelles dates désirez-vous réserver ?</label>
    <p>  <input type="date"  name="date_debut" min= {{ today }}  max="2022-04-30">
        <input type="date" name="date_fin" min="2021-05-12" max="2022-04-30"></p>

    <button type="submit">Vérifier</button>

</form>
{% endblock %}