<!DOCTYPE html>
<html lang="en">
  <head>
        <meta charset="UTF-8">
        <title>{% block title %}FETES UN VOEU !{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	        <meta charset="utf-8">
	    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    	<meta name="description" content="Le meilleur du service évènementiel familial">
	    	<meta name="author" content="Fêtes un voeu, au service de vos festivités">
	    	<title>FETES UN VOEU</title>
     

		<!-- Bootstrap core CSS -->
		<link href={{asset('assets/css/bootstrap.min.css')}} rel="stylesheet">
		<link href={{asset('assets/css/style.css')}} rel="stylesheet">
		<link href={{asset('assets/css/bootstrap.bundle.js')}} rel="stylesheet">

		<!-- Custom styles for this template -->
		<link href={{asset('assets/css/carousel.css')}} rel="stylesheet">
		<style>
			.bd-placeholder-img {
				font-size: 1.125rem;
				text-anchor: middle;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
			}

			@media(min-width: 768px) {
				.bd-placeholder-img-lg {
					font-size: 3.5rem;
				}
			}
		</style>

           {% endblock %}
	</head>
<body>

<header>

    <nav class="d-flex navbar-default navbar-expand-md fixed-top p-3 ">
				<div><a href="/prisca"> <img src={{asset('images/imagesUpload/logo/logo_fetes_un_voeu.png')}} alt="Logo fête un voeu" width="125">
					</img></a></div>
				<div><a class="navbar-brand mt-4 ml-5" href="/prisca">Fêtes un voeu<br>...au service de vos festivités
				</a></div>
				<hr>
					<div class="collapse navbar-collapse container-fluid" id="navbarCollapse">
						<ul class="navbar-nav w-100 justify-content-md-end" style="background-color:">
							<li class="nav-item active">
								<a class="nav-link mr-2" href="#">Accueil
								</a>
							</li>
						
							<li class="nav-item active mr-2">
								<a class="nav-link" href="#prestations">Nos prestations
								</a>
							</li>
							<li class="nav-item active mr-2">
								<a class="nav-link" href="#galerie">Galerie
								</a>
							</li>
						</li>
						<li class="nav-item active mr-2">
							<a class="nav-link" href="#avis">Avis
							</a>
						</li>
					</li>
					<li class="nav-item active mr-2">
						<a class="nav-link" href="#contact">Contact
						</a>
					</li>
				</li>
				<li class="nav-item active mr-5">
					<a class="nav-link" href="{{ path('verif_dispo')}}">Réservation
					</a>
				</li>

                 <li class="nav-item active mr-4">
                    <a class="nav-link text-white" href="{{ path('ajout_pack')}} ">Ajout pack</a>
                </li>
              

				<!-- Section: Social media -->

				<a href="https://www.facebook.com/fetesvosvoeux" target="blank"><img src="{{asset('/images/imagesUpload/icones/facebook.svg')}}" width="40em" height="40em" class="mr-2"></img></a>
				<a href="https://www.instagram.com/fetes_unvoeu/?hl=fr" target="blank"><img src="{{asset('/images/imagesUpload/icones/instagram-orange.svg')}}" width="40em" height="40em" class="mr-2" ></img></a>
				<a href="https://github.com/PriscaR78/fetes_un_voeu" target="blank"><img src="{{asset('/images/imagesUpload/icones/github-border-dark.svg')}}" width="45em" height="45em" class="mr-5"></img></a>


					<li class="nav-item active mr-2">
					<a href=""><img class="bd-placeholder-img rounded-circle" width="50" height="50" src={{asset('/images/imagesUpload/icones/fem.jpeg')}} role="img" aria-label="profil">
					</a></img>
				
			{% if app.user %}
                <div class="nav-item dropdown my-2 my-lg-0 mr-5">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						{{ app.user.username }}

                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path('profil', {id:app.user.id}) }}">Profil</a>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a class="dropdown-item" href="{{ path('backoffice') }}">Back-office</a>
                        {% endif %}

                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path('logout') }}">Déconnexion</a>
                    </div>
                </div>
            {% else %}

                <a class="nav-link " href="{{path('login')}}">Connexion</a>
                <a class="nav-link " href="{{ path('inscription') }}">Inscription</a>
            {% endif %}
			</ul>

</div>
 </nav>

</header>

{% block body %}

{% endblock %}





</body>
</html>