<!DOCTYPE html>
<html lang="fr">
  <head>
        <meta charset="UTF-8">
        <title>{% block title %}FETES UN VOEU !{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	        <meta charset="utf-8">
	    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    	<meta name="description" content="Le meilleur du service évènementiel familial">
	    	<meta name="author" content="Fêtes un voeu, au service de vos festivités">
	    	<title>FETES UN VOEU</title>
     

		<!-- Bootstrap core CSS -->
		<link href={{asset('assets/css/bootstrap.min.css')}} rel="stylesheet">
		<link href={{asset('assets/css/style.css')}} rel="stylesheet">
		
		<!-- Custom styles for this template -->
		<link href={{asset('assets/css/carousel.css')}} rel="stylesheet">
		<style>
			.bd-placeholder-img {
				font-size: 1.125rem;
				text-anchor: middle;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
			}

			@media(min-width: 768px) {
				.bd-placeholder-img-lg {
					font-size: 3.5rem;
				}
			}
		</style>

           {% endblock %}
	</head>
<body>
 <header>
          <div class="header">
          <div class="d-flex justify:space-around">
            <a class="mt-4 ml-4" href="/">
              <img src={{asset('images/imagesUpload/logo/logo_fetes_un_voeu.png')}} alt="Logo fêtes un voeu" width="125">
            </a>
            <div class="container-fluid" >
         <div class="d-flex my-auto ml-5" style="font-family:Original Surfer; padding-top:4%; font-size:1.4em; color:#4B1348;">
               Fêtes un voeu <br> ...au service de vos festivités
            </div></div>
          </div>

              <!-- Section: Social media -->
          <div class="d-flex justify-content-end mr-2">


              {% if app.user %}
                <div class="nav-item dropdown my-2 my-lg-0 mr-5">
                  <a class="dropdown-toggle btn btn-info mt-2" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ app.user.username }}

                  </a>
                  <div class="dropdown-menu shadow m-4" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ path('profil', {id:app.user.id}) }}">Profil</a>
                    {% if is_granted('ROLE_ADMIN') %}
                      <a class="dropdown-item" href="{{ path('backoffice') }}">Back-office</a>
                    {% endif %}

                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path('logout') }}">Déconnexion</a>
                  </div>
                </div>
              {% else %}

               <a href="{{path('login')}}"><img class="nav-link" src="{{asset('/images/imagesUpload/icones/profil.png')}}"></a>
                <a href="{{ path('inscription') }}"><img class="nav-link mr-5" src="{{asset('/images/imagesUpload/icones/inscription.png')}}"></a>
             
              {% endif %}

              <a href="https://www.facebook.com/fetesvosvoeux" target="blank"><img src="{{asset('/images/imagesUpload/icones/facebook.svg')}}" width="40em" height="40em"></a>
              <a href="https://www.instagram.com/fetes_unvoeu/?hl=fr" target="blank"><img src="{{asset('/images/imagesUpload/icones/instagram-orange.svg')}}" width="40em" height="40em"></a>
              <a href="https://github.com/PriscaR78/fetes_un_voeu" target="blank"><img src="{{asset('/images/imagesUpload/icones/github-border-dark.svg')}}" width="43em" height="43em" class="mr-5"></a>
</div>
              {# <li class="nav-item active mr-2">
					<a href=""><img class="bd-placeholder-img rounded-circle" width="50" height="50" src={{asset('/images/imagesUpload/icones/fem.jpeg')}} role="img" aria-label="profil">
					</a></img>
				 #}
          </div>

          </div>

          <hr>


     
        <nav class="navbar-expand-lg">


<div class="collapse navbar-collapse navigation" id="navbarSupportedContent">


          {# <div class="collapse navbar-collapse container-fluid" id="navbarSupportedContent1"> #}
            {# <ul class="navbar-nav w-100 justify-content-md-end" style=""> #}
                <ul class="nav nav-tabs" id="media">

                <li class="nav-item ml-4 mr-2">
                <a class="nav-link" href="/">Accueil<span class="sr-only">(current)</span>
                </a>
              </li>

              <li class="nav-item mr-2">
                <a class="nav-link" href="{{ path('home')}}">Nos prestations<span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item mr-2">
                <a class="nav-link" href="{{ path('home')}}">Galerie<span class="sr-only">(current)</span>
                </a>
              </li>

              <li class="nav-item mr-2">
                <a class="nav-link" href="{{ path('home')}}">Avis<span class="sr-only">(current)</span>
                </a>
              </li>

              <li class="nav-item mr-2">
                <a class="nav-link" href="{{ path('send_form')}}">Contact<span class="sr-only">(current)</span>
                </a>
              </li>

              <li class="nav-item mr-5">
                <a class="nav-link" href="{{ path('verif_dispo')}}">Réservation<span class="sr-only">(current)</span>
                </a>
              </li>

            
            </ul>

          </div>
        

  <!-- Collapse button -->
         <div class="burger1">
            <button class="burger navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        </nav>

</header>



{% block body %}



{% endblock %}

  <!-- Back to top button -->
          <button type="button" class="btn-floating btn-lg" id="btn-back-to-top">
            <i class="fas fa-arrow-up"></i>
          </button>
  <!-- Copyright et RGPD -->

        <div class="text-center m-5 p-3" style="background-color: #eddcf9">© 2021 Fêtes un voeu -<a href="{{ path('rgpd')}}">
                Protection des données</a>
        </div>

   {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                    crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                    crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                    crossorigin="anonymous"></script>
            <script src={{asset('assets/js/bootstrap.bundle.js')}}></script>
	        <script src="https://kit.fontawesome.com/e4895b9a2a.js" crossorigin="anonymous"></script>
        {% endblock %}
</body>
</html>