{% extends 'modeleConnexion.html.twig' %}
{% block body %}



    <div class="container mt-4">
        <h1 class="text-center mt-5 mb-5 p-4" style="background-color: #EDDCF9">Paiement</h1>

        {% for message in app.flashes('success') %}
            <div class="col-md-6 bg-info p-4 rounded mx-auto text-center text-white mb-3">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('danger') %}
            <div class="col-md-6 bg-danger p-4 rounded mx-auto text-center text-white mb-3">
                {{ message }}
            </div>
        {% endfor %}
        <div class="row justify-content-end">
        </div>
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col">Adresse</th>
                <th scope="col">Code Postal</th>
                <th scope="col">Ville</th>
                <th scope="col">Pack réservé</th>
                <th scope="col">Date </th>
                <th scope="col">Prix</th>
            </tr>
            </thead>
            <tbody class="text-center">

                <tr>
                    <td>{{ reservation.user.nom }}</td>
                    <td>{{ reservation.user.prenom }}</td>
                    <td>{{ reservation.user.adresse}}</td>
                    <td>{{ reservation.user.cp}}</td>
                    <td>{{ reservation.user.ville}}</td>
                    <td>{{ reservation.pack.nom }}</td>
                    <td>{{ reservation.date | date('d-m-Y')}}</td>
                    <td>{{ reservation.pack.prix }}</td>
                </tr>
            </tbody>
        </table>
        <div class="container w-25">
        <form action="">
        <label for="nom">Nom et Prenom </label>
        <input  name="nom" type="text">
        <label for="numero">Numero de carte </label>
        <input name="numero" type="text">
        <label for="date">Date de validite </label>
        <input name="month" type="month">
        <label for="crypto">Cryptogramme</label>
        <input name="crypto" type="text">


            <a href="{{ path('remerciement')}}" class="btn btn-info mt-4 mb-4" >Payer</a>

        </form>
        </div>
    </div>


        {% endblock %}

