
{% extends 'modeleConnexion.html.twig' %}

{% block body %}

 <div class="container mt-4">
    <h1 class="text-center p-4" style="background-color: #eddcf9">Paiement</h1>
 

    {#    {% if not app.user %}#}
    {#        redirection page connexion #}
    {#        {% else %}#}
   <hr> 
 <div class="container mt-4">
  <h4 class="text-danger text-center mt-4">PAGE PAIEMENT</h4>
<h2 class="mt-5">Votre réservation</h2>
    <div class="w-25 p-4">
        {{ form_start(formResa) }}

        {{ form_row(formResa.date) }}
        {#            <label for="date">Quelle date :</label>#}
        {#            <input type="date" name="date">#}
        {{ form_row(formResa.pack) }}


        <button class="btn btn-info mt-4 mb-4" type="submit">Payer</button>
        {#{% endif %}#}

        {{ form_end(formResa) }}


{#        essai modif resa#}

        <a href="{{path('inscription')}}"> <button class="btn btn-info m-2" type="submit">S'inscrire</button></a>

    </div>
</div>
</div>






{% endblock %}
