{% extends 'modelBackoffice.html.twig' %}

{% block body %}

    {% for message in app.flashes('success') %}
        <div class="col-md-6 bg-warning p-4 rounded mx-auto text-center text-white my-3">
            {{ message }}
        </div>
    {% endfor %}

    <h1 class="my-5 text-info">Utilisateurs</h1>

    <table class="table table-striped" style="background-color: #eddcf9">
        <thead class="bg-info">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
            <th scope="col">Email</th>
            <th scope="col">Date de naissance</th>
            <th scope="col">Action</th>
        </tr>
        </thead>

        <tbody>
        {% for utilisateur in utilisateurs %}


        <tr>
            <th scope="row"> {{ utilisateur.id }} </th>
            <td> {{ utilisateur.nom }} </td>
            <td> {{ utilisateur.prenom }} </td>
            <td> {{ utilisateur.email }} </td>
            <td> {{ utilisateur.birthday | date('d/m/Y') }} </td>
            <td> <a href=" {{ path('deleteuser', {'id':utilisateur.id})}} " title="supprimer"> <img src=" {{ asset('delete.png')}} " alt="supprimer"> </a> </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>




{% endblock %}
